  html,body{
    width:100%;
    height:100%;
    /*font-size:16px;*/
    text-rendering:auto;
  }
  .fs12{font-size:12px}.fs14{font-size:14px}.fs16{font-size:16px}.fs18{font-size:18px}.fs20{font-size:20px}.fs22{font-size:22px}.fs24{font-size:24px}.fs26{font-size:26px}.fs28{font-size:28px}.fs30{font-size:30px}.fs32{font-size:32px}.fs34{font-size:34px}.fs36{font-size:36px}.fs38{font-size:38px}.fs40{font-size:40px}
  .text-white{color:#fff!important}.text-black{color:#333!important}
  .mb0{margin-bottom:0px}.mt0{margin-top:0px}
  .mb10{margin-bottom:10px}.mt10{margin-top:10px}.ml10{margin-left:10px}.mr10{margin-right:10px}
  .mb20{margin-bottom:20px}.mt20{margin-top:20px}.ml20{margin-left:20px}.mr20{margin-right:20px}
  .mb30{margin-bottom:30px}.mt30{margin-top:30px}.ml30{margin-left:30px}.mr30{margin-right:30px}
  .mb40{margin-bottom:40px}.mt40{margin-top:40px}.ml40{margin-left:40px}.mr40{margin-right:40px}
  .mb50{margin-bottom:50px}.mt50{margin-top:50px}.ml50{margin-left:50px}.mr50{margin-right:50px}
  .mb60{margin-bottom:60px}.mt60{margin-top:60px}.ml60{margin-left:60px}.mr60{margin-right:60px}
  .mb70{margin-bottom:70px}.mt70{margin-top:70px}.ml70{margin-left:70px}.mr70{margin-right:70px}
  .mb80{margin-bottom:80px}.mt80{margin-top:80px}.ml80{margin-left:80px}.mr80{margin-right:80px}
  .plr0{padding-left:0;padding-right:0}
  .pb10{padding-bottom:10px}.pt10{padding-top:10px}.pl10{padding-left:10px}.pr10{padding-right:10px}
  .pb20{padding-bottom:20px}.pt20{padding-top:20px}.pl20{padding-left:20px}.pr20{padding-right:20px}
  .pb20{padding-bottom:30px}.pt30{padding-top:30px}.pl30{padding-left:30px}.pr30{padding-right:30px}
  .pb40{padding-bottom:40px}.pt40{padding-top:40px}.pl40{padding-left:40px}.pr40{padding-right:40px}
  .pb50{padding-bottom:50px}.pt50{padding-top:50px}.pl50{padding-left:50px}.pr50{padding-right:50px}
  .pb60{padding-bottom:60px}.pt60{padding-top:60px}.pl60{padding-left:60px}.pr60{padding-right:60px}
  .pb70{padding-bottom:70px}.pt70{padding-top:70px}.pl70{padding-left:70px}.pr70{padding-right:70px}
  .pb80{padding-bottom:80px}.pt80{padding-top:80px}.pl80{padding-left:80px}.pr80{padding-right:80px}