.mb0{margin-bottom:0px}.mt0{margin-top:0px}
.mb10{margin-bottom:10px}.mt10{margin-top:10px}.ml10{margin-left:10px}.mr10{margin-right:10px}
.mb15{margin-bottom:15px}.mt15{margin-top:15px}.ml15{margin-left:15px}.mr15{margin-right:15px}
.mb20{margin-bottom:20px}.mt20{margin-top:20px}.ml20{margin-left:20px}.mr20{margin-right:20px}
.mb25{margin-bottom:25px}.mt25{margin-top:25px}.ml25{margin-left:25px}.mr25{margin-right:25px}
.mb30{margin-bottom:30px}.mt30{margin-top:30px}.ml30{margin-left:30px}.mr30{margin-right:30px}
.pb10{padding-bottom:10px}.pt10{padding-top:10px}.pl10{padding-left:10px}.pr10{padding-right:10px}
.pb20{padding-bottom:20px}.pt20{padding-top:20px}.pl20{padding-left:20px}.pr20{padding-right:20px}
.pb30{padding-bottom:30px}.pt30{padding-top:30px}.pl30{padding-left:30px}.pr30{padding-right:30px}

.navbar-brand > img {
  width: 32px;
}

#modal {
  display: none;
  position: fixed; 
  z-index: 10; 
  padding-top: 55px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.3);
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 90%;
}

#modal-content p {
  font-weight: 600;
  font-size: 16px;
}

#modal-content p span{
  font-weight: 400;
  font-size: 14px;
  word-break: break-all;
}

#modal-btns{
  display: none;
}